/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/* Variables */
:root{
    --main-color:#bc9667;
    --second-color:#edeae3;
    --text-color:#1b1b1b;
    --bg-color:#fff;

    /* Box Shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%)
}
section{
    padding: 50px 100px;
}
img{
    width: 100%;
}
body{ 
    color: var(--text-color);
    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    transition: 0.5s linear;
}
header.shadow{
    background: var(--text-color);
    box-shadow: var(--box-shadow);
}
.logo img{
    width: 60px;
}
.navbar{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: var(--main-color);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}
.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
.header-icon .bx{
    color: var(--bg-color);
}
.header-icon .bx:hover{
    color: var(--main-color);
}

/* Menu */
#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

/* Search Box */
.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color);
    width: 100%;
    transition: 0.2s all linear;
}
.search-box.active{
    top: 100%;
    box-shadow: var(--box-shadow);
    transition: 0.2s all linear;
}
.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

/* Home */
.home{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.home-text span{
    color: var(--bg-color);
    font-weight: 400;
}
.home-text h1{
    font-size: 2.7rem;
    color: var(--bg-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}
.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;

}
.btn:hover{
    background: #8a6f4d;
    transition: 0.2s all linear;
}

/* Coffee */
.coffee{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
}
.coffee-img.left {
    order: 0;
}
.coffee-img.right {
    order: 1;
}
.coffee-img img{
    border-radius: 0.5rem;
}
.coffee-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.coffee-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2rem;
}
.coffee-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
    text-align: left;
}
.coffee-text .btn{
    align-self: flex-start;
    margin-top: 2rem;
}

/* Roast Level */
.heading-1{
    text-align: center;
}
.heading-1 span{
    font-weight: 500;
    text-transform: uppercase;
}
.heading-1 h1{
    font-size: 2rem;
}
.level-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.level-container .box{
    text-align: center;
    padding: 20px;
}
.level-container .box .h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.level-container .img-1 img,
.level-container .img-2 img,
.level-container .img-3 img{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.level-container .img-1:hover,
.level-container .img-2:hover,
.level-container .img-3:hover{
    transition: 0.2s all linear;
    transform: scale(1.1);
}

/* Favored */
.heading-2{
    text-align: center;
}
.heading-2 h2{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.favored-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.favored-container .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.favored-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
}
.favored-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;
    text-align: center;
    
}
.favored-container .box .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

/* Footer */
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box p{
    font-size: 0.938rem;
    margin-bottom: 10px;
}
.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover{
    color: var(--main-color);
}

/* Social */
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social a .bx{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    background: var(--second-color);
    border-radius: 0.2rem;
}
.social a .bx:hover{
    background: var(--main-color);
    color: var(--bg-color);
}

/* Facebook */
.facebook{
    display: flex;
    flex-direction: column;
}
.facebook .bx{
    font-size: 30px;
}
.facebook h3{
    display: flex;
    align-items: center;
}
.facebook h3 i {
    margin-right: 5px;
}

/* Instagram */
.instagram{
    display: flex;
    flex-direction: column;
}
.instagram .bx{
    font-size: 30px;
}
.instagram h3{
    display: flex;
    align-items: center;
}
  
.instagram h3 i {
    margin-right: 5px;
}

/* Email */
.email{
    display: flex;
    flex-direction: column;
}
.email .bx{
    font-size: 30px;
}
.email h3{
    display: flex;
    align-items: center;
}
  
.email h3 i {
    margin-right: 5px;
}
.contact span{
    display: flex;
    align-items: center;
}

/* Copyright */
.copyright{
    padding: 20px;
    text-align: center;
    background: var(--second-color);
}

/* Media Size */
@media (max-width: 1058px){
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
}
@media (max-width: 911px){
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text h1{
        font-size: 2rem;
    }
}
@media (max-width: 768px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }
    .navbar a{
        color: var(--text-color);
    }
    .navbar a:hover{
        color: var(--bg-color);
    }
    .navbar.active{
        top: 100%;
    }
    .about{
        align-items: center;
    }
}
@media (max-width: 360px){
    header{
        padding: 11px 4%;
    }
    .logo img{
        width: 45px;
    }
    .home-text{
        padding-top: 15px;
    }
    .home-text h1{
        font-size: 1.4rem;
    }
    .home-text p{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .about-img{
        order: 2;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.2rem;
    }
    .heading h2{
        font-size: 1.2rem;
    }
}